*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: linear-gradient(35deg, white, #0E293B, #27293B);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  padding-top: 100px;
  padding-bottom: 0px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article {
  font-size: 12px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #726f77;
}

.barcode {
  height: 100px;
  width: 100px;
  margin-top: 5px;
}

button {
  background: none;
  border: 1px solid #DE564C;
  font: 3px;
  font-size: 12px;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  box-shadow: 3px 3px 3px #DE564C;
  text-align: center;
  }
}

.boxShadow {
  background: #DE564C;
  border: 1px solid #DE564C;
  box-shadow: 0px 2px 0 #DE564C, 2px 4px 6px #eee;
  color: #726f77;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: helvetica, arial, tahoma, verdana;
  -webkit-transition: all 150ms linear;
          transition: all 150ms linear;
}

.boxShadow:hover {
  background: #fff;
  border: 1px solid #DE564C;
  box-shadow: 1px 1px 2px #DE564C;
  color: #726f77;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}

.cThinkWhiteboard {
  padding-top: 10px;
  height: 350px;
  width: 350px;
}

.dabSandboxPic {
  height: 200px;
  margin-top: 15px;
  transform: rotate(180deg);
  width: 350px;
}

h2 {
  padding-bottom: 10px;
}

.img-with-text {
  display: inline-block;
  text-align: center;
}

.introText {
  padding-top: 50px;
}

/* ========= */
/* animation */
.roadMapScroll {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 5.0s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% {border-color: orange }
}
/* ========== */

.profileAvatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

theimgsection {
  padding: 10px;
}

.img-with-text img {
  display: inline-block;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  background-color: #F8F8F8;
  border-top: 20px solid #DE564C;
  border-radius: 5px;
  color: #726f77;
  font-family: helvetica, arial, tahoma, verdana;
  left: 45px;
  opacity: 0.9;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F8F8F8 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  background-color: #F8F8F8;
  border-radius: 5px;
  border-top: 20px solid #DE564C;
  color: #726f77;
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F8F8F8;
}

time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #63B67C;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent tr-ansparent;
  }
}
