@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

/* =========================
   THEME TOKENS (design system)
   ========================= */
@theme {
  /* colors */
  --color-ct-blue: #242A3B;
  --color-ct-red: #E05548;
  --color-ct-orange: #E89E2E;
  --color-ct-green: #5FB87A;
  --color-ct-aqua: #49B1BF;
  --color-ct-ivory: #FFFFF0;

  /* border radius */
  --radius-ct: 15px;
  --radius-ct-hover: 30px;

  /* font style */
  --font-ct: "IBM Plex Mono", monospace;

  /* font size  */
  --text-ct: 1.25rem;
}

/* =========================
   COMPONENT CLASSES
   ========================= */
@layer components {
  .ct-btn {
    @apply inline-flex justify-center items-center px-3.75 py-2.5 rounded-ct hover:rounded-ct-hover h-15 text-ct-blue text-center transition-[border-radius] duration-600 ease-in-out;
  }

  /* keyboard focus (accessibility) */
  .ct-btn:focus-visible {
    @apply outline-none ring-2 ring-ct-aqua ring-offset-2 ring-offset-ct-ivory;
  }

  /* Safari / older browsers fallback:
     show focus ring on :focus, but only when :focus-visible isn't supported */
  @supports not selector(:focus-visible) {
    .ct-btn:focus {
      @apply outline-none ring-2 ring-ct-aqua ring-offset-2 ring-offset-ct-ivory;
    }
  }

  /* active - current page state  */
  .ct-btn[aria-current="page"] {
    @apply border-2 border-dashed;
  }
}