{% load static %}
<nav class='flex justify-between items-center p-5'>
    <div class='flex items-center'>
        <img src="{% static 'img/cThink_logo.svg' %}" alt='cThink logo' class='w-64 h-auto'>
    </div>

    <div class='flex space-x-5 font-ct text-ct'>
      <a href='#' class='inline-flex justify-center items-center bg-ct-ivory px-3.75 py-2.5 rounded-ct hover:rounded-ct-hover h-15 text-ct-blue text-center transition-[border-radius] duration-600 ease-in-out'>About</a>
      <a href='#' class='inline-flex justify-center items-center bg-ct-ivory px-3.75 py-2.5 rounded-ct hover:rounded-ct-hover h-15 text-ct-blue text-center transition-[border-radius] duration-600 ease-in-out'>Blog</a>
      <a href='#' class='inline-flex justify-center items-center bg-ct-green px-3.75 py-2.5 rounded-ct hover:rounded-ct-hover h-15 text-ct-blue text-center transition-[border-radius] duration-600 ease-in-out'>Join Waiting List</a>
    </div>

</nav> 
